@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

.home-page {
  width: 95%;
  margin: 0 auto;
  margin-top: 4rem;
}
.home-page-bg {
  width: 100%;
}
.home-page-bg img {
  /* width: 100%;
  height: 630px;
  object-fit: cover;
  border-radius: 30px; */
}
.home-page-bg {
  background-repeat: no-repeat;
}
.navbar {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.hotel-card {
  width: 390px;
  background: #ffffff;
  box-shadow: 0px 4px 12px -4px rgba(22, 34, 51, 0.12),
    0px 16px 32px rgba(22, 34, 51, 0.16);
  border-radius: 39px;
  padding: 1.6rem;
}
.hotel-details-address p {
  display: flex;
}
.hotel-details-address p img {
  margin-right: 10px;
}
.hotel-card-img img {
  border-radius: 33px;
  width: 100%;
  height: 270px;
  object-fit: cover;
  margin-bottom: 10px;
}
.hotel-details-price p {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */

  letter-spacing: -0.03em;

  color: #000000;
}
.hotel-card {
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.hotel-card-img {
  margin-bottom: 12px;
  overflow: hidden;
  border-radius: 33px;
  height: 270px;
}
.hotel-card:hover {
  transform: scale(1.07);
}
.hotel-card-img img {
  transition: all 0.6s ease-in-out;
}
.hotel-card:hover .hotel-card-img img {
  transform: scale(1.1);
}
.hotel-details-amenities b {
  font-weight: 600;
  opacity: 0.9;
}
.hotel-details-price span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: -0.03em;

  color: #b4b4b4;
}
.hotel-details-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hotel-details-name p {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  letter-spacing: -0.03em;

  color: #303e4e;
}
.hotel-details-address p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: -0.03em;

  color: #636363;
  padding-bottom: 1.2rem;
  border-bottom: 0.4px solid rgba(0, 0, 0, 0.2);
}
.hotel-details-amenities {
  margin-top: 1rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.all-hotels > div {
  margin-bottom: 1rem;
}
.all-hotels {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: baseline;
  width: 75%;
  margin: 0 auto;
  margin-top: 4rem;
  flex-wrap: wrap;
}
.home-page-bg {
  border-radius: 30px;
  background-image: url("./assets/landingbg2.png");
}
.home-page-bg h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  /* or 115% */
  padding-top: 12rem;
  text-align: center;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.home-page-bg p {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  /* or 136% */

  /* padding: 0 2rem; */
  width: 60ch;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 10rem;
  text-align: center;
  letter-spacing: -0.02em;

  color: #cccccc;
}

.search {
  position: relative;
}
.search input {
  background: #ececec;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  width: 300px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  padding: 9px 20px;
  padding-left: 2.8rem;
  color: #000000;
}
.search img {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
}
.search input::placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
}
.navlinks ul {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
.navlinks ul li {
  font-weight: 600;
  font-size: 21.8974px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: -0.03em;

  color: #ffffff;
  cursor: pointer;
}
.search-btn button {
  background: #303e4e;
  border-radius: 6.57895px;
  font-weight: 600;
  font-size: 18.4211px;
  line-height: 28px;
  /* identical to box height */

  letter-spacing: -0.02em;
  border: none;
  padding: 0.9rem 1.9rem;
  color: #ffffff;
}
.filter h1 {
  font-weight: 600;
  font-size: 16.6711px;
  line-height: 23px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.02em;
  color: #939393;
}
.filter p {
  font-weight: 600;
  font-size: 18.755px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.02em;
}
.filter-component {
  background: #ffffff;
  box-shadow: 0px 489px 195px rgba(0, 0, 0, 0.01),
    0px 275px 165px rgba(0, 0, 0, 0.05), 0px 122px 122px rgba(0, 0, 0, 0.09),
    0px 31px 67px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10.5px;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 25px 28px;
  position: relative;
  top: -4ch;
}
.filter {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.filter-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.filter-icon {
  cursor: pointer;
}
.filter {
  position: relative;
}
.filter::after {
  content: "";
  height: 90%;
  width: 1.8px;
  background-color: #e8e8e8;
  position: absolute;
  right: -30%;
}
.active-link {
  background: #ececec;
  border-radius: 6px;
  color: #000000 !important;
  padding: 4px 1rem;
}
.modal {
  position: absolute;
  background: #ffffff;
  border: 2px solid #303e4e;
  border-radius: 12px;
  padding: 2rem;
  width: fit-content;
  top: 0;
  left: -10%;
  z-index: 3;
  padding-bottom: 0;
}
.react-calendar__navigation__label__labelText {
  font-family: "Poppins", sans-serif !important;
  font-size: 1rem;
}
.filter {
  position: relative;
}
.react-daterange-picker__wrapper {
  padding: 1rem;
  margin-bottom: 1rem;
}
.react-calendar__navigation button {
  font-size: 22px;
}
.modal li {
  font-weight: 500;
  white-space: nowrap;
  font-size: 18.755px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 10px;
  cursor: pointer;
}
.activeSort {
  width: 100%;
  background-color: #303e4e;
  color: #fff;
  border-radius: 10px;
  padding: 4px 15px;
}
.close {
  float: right;
}
.close-model {
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
  padding: 4px 15px;
  border: 1px solid #303e4e;
  margin-bottom: 10px;
}
.modal select {
  padding: 1rem;
  width: 200px;
}
.modal select option {
  padding: 1rem;
  font-size: 1rem;
}
.number-input {
  padding: 8px 1rem;
}
.number-input {
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #303e4e;
}
.adult-text {
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
}
.react-daterange-picker__range-divider{
  margin: 0 1rem;
}
button{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover{
  transform: scale(1.07);
}
html{
  scroll-behavior: smooth;
}